{% extends 'layout.html.twig' %}

{% block title %}
    Catalogue
{% endblock %}

{% block content %}
    <div>
        <h2 class="text-center">Bonjour {{ user.login }}</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><a href="/product/details?id={{ product.id }}" class="btn btn-primary">Voir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}